.cabecera-tarjeta {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 39.9375em) {  

  .cabecera-tarjeta {
    display:flex;
    flex-direction:column;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .cabecera-tarjeta {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: $pantalla-grande) {
  .cabecera-tarjeta {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 250px 250px 1fr 1fr 1fr;
  }
}

.tarjeta {

  grid-column: 1 / 5;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  margin-top: -50px;
  //margin-bottom: 50px;
  margin-bottom:0;

  img {
    width: auto;
    height: 150px;
  }
}

@media screen and (max-width: 39.9375em) { 
  .tarjeta {
    margin-top:-40px;
    margin-bottom:2em;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  
  .tarjeta {
    margin-top:-40px;
    grid-column: 1 / 6;
    position:relative;
    left:.5em;
  }
}


//Pantalla small y medium

@media (max-width: 63.9375em) {

  .tarjeta {
    margin-bottom: 30px;
  }
}

@media (min-width: $pantalla-grande) {
  
  .tarjeta {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    margin-top: -25px;
    width: 500px;
    img {
      width: auto;
      height: auto;
    }
  }
}

.linea-tarjeta {
  //grid-column: 1 / 5;
  grid-column: 1 / 6;
  grid-row: 1 / 2;

  font-family: $font;
  font-weight:700;
  //margin-left: -30px;
  margin-left: 1em;
  margin-right: 0;
  margin-top:1em;
  padding-top: 15px;
  padding-bottom: 50px;

  &:empty {
    visibility:hidden;
    padding-bottom:0;
  }

  &-nombre {
    //font-size: 0.9em;
    font-size: 1.2em;
    text-align: center;
  }

  &-titulo {
    font-size: 2em;
    text-align: center;
    line-height:1;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  .linea-tarjeta {
    grid-column: 1 / 6;
  }
}

//Pantalla small y medium

@media (max-width: 63.9375em) {
  
  .linea-tarjeta {
    margin-left:0;
    margin-top:0;

    &-titulo {
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}





@media (min-width: $pantalla-grande) {
  .linea-tarjeta {
    //grid-column: 2 / 6;
    grid-row: 1 / 2;

    font-family: $font;
    font-weight:700;
    //margin-left: -30px;
    //margin-right: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 20px;

    &-nombre {
      //font-size: 1.2em;
      text-align: right;
      //padding-right: 10px;
    }

    &-titulo {
      font-size: 2.5em;
      width: calc(100% - 500px);
      text-align: right;
      float:right;
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .linea-tarjeta-titulo {
    font-size: 1.7em; 
  }
}

.detalle-instalaciones {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  min-width: 200px;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .detalle-instalaciones {
    grid-column: 2 / 3;
  }
}

@media (min-width: $pantalla-grande) {
  .detalle-instalaciones {
    grid-column: 3 / 4;
    min-width: 150px;
    grid-row: 2 / 3;
    margin-top: 50px;
  }
}

.texto-detalle-instalaciones{
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-weight: bold;
  text-align: center;
  filter: contrast(0.6);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .texto-detalle-instalaciones {
    grid-column: 2 / 3;
  }
}
@media (min-width: 1400px) {
  .texto-detalle-instalaciones {
    margin-top:1em;
  }
}


@media (min-width: $pantalla-grande) {
  .texto-detalle-instalaciones{
    grid-column: 3 / 4;
    min-width: 150px;
    grid-row: 3 / 4;
  }
}

.detalle-clases {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  min-width: 200px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .detalle-clases {
    grid-column: 3 / 4;
  }
}

@media (min-width: $pantalla-grande) {
  .detalle-clases {
    min-width: 150px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    margin-top: 50px;
  }
}

.texto-detalle-clases{
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  font-weight: bold;
  text-align: center;
  filter: contrast(0.6);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .texto-detalle-clases {
    grid-column: 3 / 4;
  }
}

@media (min-width: 1400px) {
  .texto-detalle-clases {
    margin-top:1em;
  }
}

@media (min-width: $pantalla-grande) {
  .texto-detalle-clases{
    grid-column: 4 / 5;
    min-width: 150px;
    grid-row: 3 / 4;
  }
}

.detalle-musculacion {
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  min-width: 200px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

//Pantalla small y medium
@media (max-width: 63.9375em) {
  .detalle-musculacion {
    margin-top:unset;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .detalle-musculacion {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
}

@media (min-width: $pantalla-grande) {
  .detalle-musculacion {
    grid-column: 5 / 6;
    min-width: 150px;
    grid-row: 2 / 3;
    //margin-top: 0px;
  }
}

.texto-detalle-musculacion {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  font-weight: bold;
  text-align: center;
  filter: contrast(0.6);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .texto-detalle-musculacion {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
}

@media (min-width: 1400px) {
  .texto-detalle-musculacion {
    margin-top:1em;
  }
}

@media (min-width: $pantalla-grande) {
  .texto-detalle-musculacion{
    grid-column: 5 / 6;
    min-width: 150px;
    grid-row: 3 / 4;
  }
}


// Un nuevo punto en el mediaquery - lo pongo todo junto por si fallara algo en lugar de que esté desperdigado en este scss

@media (min-width: $pantalla-grande) and (max-width: 1400px) {
  
  .cabecera-tarjeta {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:unset;
  }
  
  .tarjeta {
    width:400px;
    justify-self: self-start;
    margin-left: 1em;
    align-self: start;
  }

  .linea-tarjeta {
    margin-left:0;
  }
  
  .linea-tarjeta-titulo {
    font-size:2em;
    width: calc(100% - 400px);
  }

  .detalle-instalaciones,.detalle-clases,.detalle-musculacion {
    margin-top: 20px;
  }

}
