.eventoCalendario {
  display: flex !important;
  align-items: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: 1.3rem !important;
  border: none !important;

  :nth-child(n) {
    margin-left: 10px;
  }

  i {
    max-height: 90%;
    width: auto;
  }
}

.calendario {
  text-transform: uppercase;
  font-family: $font;
  font-weight:700;
  font-size:1.2em;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right-color: lightgrey;
  margin-bottom: 20px;

  ol {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
    row-gap:.4em;
  }

  li {
    font-size: 1.5ch;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .titulo-mes {
    font-weight: bolder;

    h2 {
      //text-transform: uppercase;
      text-transform: none;
      font-family: $font;
      font-weight:700;
      font-size:1.5em;
    }

    .mesSiguiente {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .first-day {
    grid-column-start: var(--first-day-start, 0);
  }

  .day-name {
    font-size: 15px;
    margin-bottom: 6px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
  }

  .day-reservable {
    //background-color: $color-reserva-activa;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    //color:white;
    border: 2px solid #1779ba;
    transition: border-color .25s ease-out;
    
    &:hover {
      cursor: pointer;
      border-color:#006780;
      transition: border-color .25s ease-out;
    }
  }

  .day-sel {
    background-color: $color-azul-uji;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: background-color .25s ease-out;
    &:hover {
      cursor: pointer;
    }
  }

  .day-festivo {
    color: red;
  }
}
