//
// Algunos parámetros de configuración
//

//$font: 'Rockyeah Sans';
$font: "Bellota Text",Helvetica,Arial,sans-serif;

@font-face {
  // No hace falta ya que Bellota se carga en app.css pero como dá error la pongo 
  //src: url("/se/resources/fonts/Rockyeah-Sans.otf");
  src: url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
  //font-family: "Rockyeah Sans";
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
}

$src-iconos: "/se/resources/images/esports/icones/";
$src-iconos-tarjetas: "/se/resources/images/esports/targetes/detalls/";

$principal-color-tarjeta-plus: #82e3cf;
$principal-color-tarjeta-uji:#d345a9;
$principal-color-tarjeta-actividades: #fcff40;
$principal-color-tarjeta-generica: #e8eb3a;

$secondary-color-tarjeta-actividades: #8e06ec;
$secondary-color-tarjeta-plus: #cf2933;
$secondary-color-tarjeta-uji: #c7ff3d;
$secondary-color-tarjeta-generica: #97d320;

$color-azul-uji: #002744;
$color-azul-uji-2:#02c;
//$color-menu-pie: #ddd;
$color-menu-pie: #ececec;
$color-reserva-activa: #1779ba;
$color-reservado : green;
$color-no-reservable : gray;
$color-reserva-pasada : orange;
$color-no-asiste : red;

$cabecera-gris: #ddd;

$pantalla-grande:64em;


// Otras reglas generales

a.button:hover {
  background-color:#006780 !important;
}

#contenido tr th {
  color:black;
  font-family: $font;
  font-weight:700;
  font-size:1.2em;
}
