.flotante {
  //position: absolute;
  //width: 60%;
  //height: 60%;
  //left: 17%;
  //top: 20%;
  //z-index: 999;
  //border: 4px solid rgba(0, 0, 0, 0.1);
  //border-radius: 2%;
  //background-color: white;
  //padding: 10px;
  .titulo{
    font-family: $font;
  }
  .btn-submit {
    text-align: center;
    float: right;
    padding: 20px 30px 20px 30px;
    border: none;
    margin-bottom: 2px;
    background-color: #3273dc;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }

}