.icono_atletismo{
  content: url($src-iconos + "icono-atletismo.png");
  width: 50px;
  height: 50px;
}

.icono_cardio{
  content: url($src-iconos + "icono-cardio.png");
  width: 50px;
  height: 50px;
}

.icono_correr{
  content: url($src-iconos + "icono-correr.png");
  width: 50px;
  height: 50px;
}

.icono_dirigidas{
  content: url($src-iconos + "icono-dirigides.png");
  width: 50px;
  height: 50px;
}

.icono_musculacion{
  content: url($src-iconos + "icono-musculacio.png");
  width: 50px;
  height: 50px;
}

.icono_nino{
  content: url($src-iconos + "icono-nino.png");
  width: 50px;
  height: 50px;
}

.icono_piscina{
  content: url($src-iconos + "icono-piscina.png");
  width: 50px;
  height: 50px;
}

.icono_pista{
  content: url($src-iconos + "icono-pista.png");
  width: 50px;
  height: 50px;
}

.icono_raqueta{
  content: url($src-iconos + "icono-raqueta.png");
  width: 50px;
  height: 50px;
}

.icono_domiciliar{
  content: url($src-iconos + "domiciliar.png");
  width: 50px;
  height: 50px;
}

.icono_tarjetas{
  content: url($src-iconos + "tarjetas.png");
  width: 50px;
  height: 50px;
}

.icono_grande_pista{
  content: url($src-iconos-tarjetas + "pistas-blanc.png");
  width: auto;
  height: 100px;
}

.icono_grande_dirigidas{
  content: url($src-iconos-tarjetas + "dirigides.png");
  width: auto;
  height: 100px;
}

.icono_grande_musculacion{
  content: url($src-iconos-tarjetas + "musculacio.png");
  width: auto;
  height: 100px;
}

.icono_positivo{
  content: url($src-iconos-tarjetas + "positivo.png");
  width: 50px;
  height: 50px;
  margin-top: -30px;
  @media screen and (max-width: 39.9375em) {
    margin-top:0;
    width:40px;
    height:40px;
  }
}

.icono_negativo{
  content: url($src-iconos-tarjetas + "negativo.png");
  width: 50px;
  height: 50px;
  margin-top: -30px;
  @media screen and (max-width: 39.9375em) {
    margin-top:0;
    width:40px;
    height:40px;
  }
}