.pantalla-pagos {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;



  @media (min-width: 64em) and (max-width: 1400px) {
      grid-template-columns: 400px 1fr 1fr 1fr;
  }


  @media screen and (max-width: 1023px) {
    display:flex;
    flex-direction:column;
  }

  :nth-child(3).pagos-info-metodos {
    grid-column: 2 / 5;
  }
  
  :nth-child(4).boton-pago {
    grid-column: 2 / 5;
  }

}

.pagos-info-tarjeta {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  //align-self: center;
  //justify-self: center;
}

@media screen and (max-width: 639px) {
  .pagos-info-tarjeta {
    display:block;
  }
}

@media screen and (max-width:1023px) {
  .pagos-info-tarjeta { 
    margin-bottom:1rem;
  }
}

@media (min-width: $pantalla-grande) {
  .pagos-info-tarjeta {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    //align-self: center;
    //justify-self: center;
  }
}

//.pagos-info {
//  grid-column: 1 / 2;
//  grid-row: 2 / 3;
//  align-self: center;
//  justify-self: center;
//
//}
//
//@media (min-width: $pantalla-grande) {
//  .pagos-info {
//    grid-column: 2 / 5;
//    grid-row: 1 / 2;
//    //display: grid;
//    //grid-auto-rows: minmax(auto, auto);
//    //grid-template-columns: 1fr 1fr 1fr;
//  }
//}
//@media (min-width: $pantalla-grande) {
//  .ppppppp {
//    grid-column: 2 / 5;
//    grid-row: 1 / 2;
//  }
//}

.pagos-info-leyenda {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}


@media (min-width: $pantalla-grande) {
  .pagos-info-leyenda {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }
}

.pagos-info-bonificaciones {
  //grid-column: 1 / 5;
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

@media (min-width: $pantalla-grande) {
  .pagos-info-bonificaciones {
    //grid-column: 4 / 5;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    margin-top:1em;
    margin-bottom:1em;
  }
}


.pagos-info-metodos {
  //grid-column: 1 / 5;
  grid-column:1 / 2;
  grid-row: 4 / 5;
}

@media (min-width: $pantalla-grande) {
  .pagos-info-metodos {
    //grid-column: 2 / 4;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-right: 20px;
    margin-top:1em;
    margin-bottom:1em;
  }
}

.importe-pagos {
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  //padding: 10px 30px 10px 30px;
  font-family: $font;
  //margin-bottom: 20px;
  background-color:unset !important;
  color:black;
  font-size: 2.5em;
  font-weight:700;
  padding:0;
  margin-bottom:0;
  line-height:1;

  &.importe-aceptada {
    display:none;
    opacity:.4;
  }
}

.importe-descuento {
  //color: white;
  text-align: center;
  //font-size: 1.5em;
  border-radius: 10px;
  //padding: 10px 30px 10px 30px;
  //margin-bottom: 20px;
  background-color:unset !important;
  color:black;
  font-size: 2.5em;
  font-weight:700;
  padding:0;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  line-height:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  margin-bottom:0;

  .descuento {
    //font-size: 0.8em;
    font-size: 0.6em;
  }
}

@media (min-width: $pantalla-grande) {
  .importe-pagos {
    margin-right: 20px;
  }

  .importe-descuento {
    margin-right: 20px;
  }
}

@media screen and (max-width:1023px) {

  .grid-x.titulo-pagos {
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding-top: 0;
    padding: 1rem;
  }
}

.titulo-pagos {
  border-radius: 10px;
  //background-color: $color-azul-uji;
  color: white;
  padding: 10px 10px 0 10px;
  margin-right: 40px;
  margin-left: 40px;
  //margin-bottom: 20px;
  //text-transform: uppercase;
  font-family: $font;
  background:none;
  text-transform:unset;
  margin-bottom:0;
  font-size:1.6rem;

  i {
    text-align: right;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    color:black;
    background-color:white;
    border-radius: unset;
    display:flex;
    align-items:center;
    width: 100%;
    text-align: unset;
    position: relative;
    padding:0;
    text-align: initial;
    font-weight:700;
    margin-bottom: 1rem;

    &::before {
      height: 2px;
      background: -webkit-gradient(linear,left top,right top,from(#307190),to(rgba(3,45,75,.03)));
      background: linear-gradient(90deg,#307190 0,rgba(3,45,75,.03) 100%);
      display: inline-block;
      content: "";
      width: calc( 100% - 20px );
      position: absolute;
      z-index: 1;
      top:50%;
    }

    span {
      background-color:white !important;
      z-index: 1;
      padding-right: .5em;
      line-height: 1;
    }
  }
}

@media screen and (max-width:1023px) {
  .titulo-pagos {
    margin-left:0;
    margin-right:0;

    p {
      margin-bottom:0;
      &::before {
        display:none;
      }
    }
    i {
      color: black;
    }
  }
}

@media screen and (min-width:1024px) {
  .titulo-pagos .small-11 {
    width:100%;
  }
}

@media (min-width: $pantalla-grande) {
  .titulo-pagos {
    margin-right: 0;
    margin-left: 0;
    font-size: 1.6rem;
    padding: 10px;

    i {
      display: none;
    }

    &:hover {
      cursor: auto;
    }
  }
}


.metodo-pago {
  //margin-right: 10px;
  border-radius: 5px;
  //margin-bottom: 30px;
  //margin-top: 20px;
  margin:0;

  > .grid-x {
    flex-direction: column-reverse;
    padding: 0 30px;
  }

  .cell.formCuentaBancariaNueva {
    width:100%;
  }
}

.leyenda-tratamiento-datos {

  display: none;
  color: black;
  //margin-top: 20px;
  //margin-bottom: 20px;
  margin-top:0;
  margin-bottom:0;
  //text-align: justify;
  text-align:left;
  padding: 30px;
  border-radius: 5px;
  font-size: 0.7em;

  br {
    margin-bottom: 15px;
  }
  @media screen and (max-width:1023px) {
    display:block;
    font-size:14px;
  }

}

@media screen and (max-width: 639px) {
  .leyenda-tratamiento-datos {
    padding:0 10px;
  }
}

@media (min-width: $pantalla-grande) {
  .leyenda-tratamiento-datos {
    display: block;
    font-size: 1em;
  }
}

.pagos-info-leyenda .leyenda-tratamiento-datos {
  padding-top: 0;
  padding-bottom: 0;

  strong {
    display:inline-block;
    padding-bottom:1em;
  }

  a {
    padding:0;
    border-bottom: 1px dotted #9bd;
	  display: inline;
    text-decoration:none;
    color:#02c;
    &:hover {
        border-bottom:0;
        cursor: pointer!important;
    }
  }

  @media screen and (max-width:1023px) {
    margin-top: 1.5rem;
    margin-bottom:0;
  }
}

// RGDP

.uji-tratamiento-datos-subtitulo {
  line-height:1.2;
  font-weight:bold;
}

#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla {
  border: 1px solid #f2f2f2;
  
  tbody {
    td {
    padding: 0.8rem 1rem;
    vertical-align:top;
    line-height:1.6;

      @media screen and (max-width: 639px) {
        padding:0;
        display:block;
        background-color:white;
      }
    }
  
    p {
    margin-bottom:0;
    }

    tr td:first-child {
      text-align:left;
    }

    @media screen and (max-width: 639px) {
      border:none;

      tr td:not(:first-child) {
        padding-bottom:1em;
      }
    }
  }

  a {
    border-bottom: 1px dotted #9bd;
    text-decoration:none;
    color:#02c;

    &:hover {

      border-bottom:0;
    }
  }

  @media screen and (max-width: 639px) {
    border:none;
  }
}

// End RGDP



.contenedor-bonificaciones {
  font-size: 0.9em;
  //border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  //margin-bottom: 20px;
  //padding-top: 10px;
  //padding-bottom: 10px;
  //-webkit-box-shadow: 3px 3px 4px 0px #5B5B5B;
  //box-shadow: 3px 3px 4px 0px #5B5B5B;
  margin-top: 10px;

  @media screen and (max-width: 639px) {
    width: 100%; 
    margin:0;
  }

  @media screen and (max-width: 1023px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .orbit-controls {

    .orbit-previous,.orbit-next {
      background-color:white;
      color:#002744;
      font-size:1.2rem;
      transition: color .25s ease-out;
      padding:0 1rem;
      transition: background-color .25s ease-out;

      &:hover {
        color:#006780;
        transition: color .25s ease-out;
      }
    }
  }
  
  .orbit-bullets {
    display:none;
  }

  .btn-add-bonificacion {
    //padding: 10px;
    //background-color: $color-azul-uji;
    border-radius: 5px;
    color:black;
    border: 1px solid #e3e4e6;
    padding: 1.5em;

    .importe {
      font-weight: bold;
    }

    .btn-validar-bonificacion {
      //border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      //font-family: $font;
      //padding: 10px;
      background-color:#002744;
      color:white;
      padding: 0.25rem .5rem;
      font-size: 12px;
      border-radius: 5px;
      letter-spacing:2px;
      display: inline-block;
      border: 1px solid transparent;
      line-height: 1;
      transition: background-color .25s ease-out;

      &:hover {
        cursor: pointer;
        background-color:#006780;
      }
    }
  }

  .bonificaciones-comentario {
    line-height:1.3;
  }

}

.bonificacion-aceptada {
  //background: #4f4f4f !important;
  background:#ececec !important;

  .bonificacion-aceptada p {
    color: white;
  }

  .btn-validar-bonificacion {
    background-color: gray;
  }
}

.importe-aceptada {
  background: #4f4f4f !important;
}


.contenedor-metodos-pago {
  display: none;
  //padding: 10px;
  padding:0;
  height: max-content;
}

@media screen and (max-width:1023px) {
  .contenedor-metodos-pago {
    display:block;
  }
}

@media (min-width: $pantalla-grande) {
  .contenedor-metodos-pago {
    display: block;
  }
}

.btn-add-cuenta-bancaria {
  text-align: right;
  //padding-right: 30px;
  //padding-left: 10px;
  padding:0;
  font-weight: bold;

  p {
    //border-bottom-width: 1px;
    //border-bottom-style: solid;
    border-bottom:0;
    color:#333;
    text-align: left;
    margin-bottom:.5em;
  }

  &:hover {
    cursor: pointer;
  }
}

.boton-pago {
  color: white;
  text-transform: uppercase;
  font-family: $font;
  //border-radius: 10px;
  //padding: 10px;
  //font-size: 1.5em;
  //grid-column: 1 / 5;
  grid-row: 5 / 6;
  grid-column: 1/end;
  width: auto;
  justify-self: center;
  padding: 0.25rem 4rem;
  font-size:1.2rem;
  border-radius: 5px;
  letter-spacing: 3px;
  margin-top:1rem;

  @media screen and (max-width: 639px) {
    width:calc( 100% - 20px);
  }

  @media screen and (max-width: 1023px) {
    width:fit-content;
    align-self: center;
    padding: 0.25rem 1rem;
    margin: 3rem;
  }
}


@media (min-width: $pantalla-grande) {
  .boton-pago {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    justify-self: self-start;
    margin-left: 30px;
  }
}

.btn-save-cuenta-bancaria {
  color: white;
  text-transform: uppercase;
  //font-family: $font;
  //border-radius: 10px !important;
  //padding: 10px;
  //font-size: 1em;
  //margin-bottom: 10px;
  background-color:#002744 !important;
  padding: 0.25rem 1rem;
  font-size: 12px;
  border-radius: 5px !important;
  letter-spacing: 2px;
  font-family:unset;
  margin-left:0;
  width: fit-content;
  margin-bottom: 0;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $pantalla-grande) {
  .btn-save-cuenta-bancaria {
    margin-left: 20px;
  }
}


.cuentaBancariaNueva {
  font-size: 0.9em;
}

@media (min-width: $pantalla-grande) {
  .cuentaBancariaNueva {
    //margin-left: 10px;
    margin-left:0;
    margin-bottom:0;
  }
}

.formCuentaBancariaNueva {
  visibility: hidden;

  .grid-x {
    justify-content:center;
    align-items:center;

    .btn-save-cuenta-bancaria {
      margin-left:.5rem;
      @media screen and (max-width:1023px) {
        margin-left:0;
      }
    }
  }
}


.btn-add-pagos {
  border: none;
  align-items: center;
  display: flex;
  padding: 30px;
  font-weight: bold;
  //margin-bottom: 2px;
  margin-bottom:0;

  i {
    margin-right: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  .numero_cuenta {
    text-align: right;
    font-size: 0.7em;
    font-weight: normal;
  }
}


// Sustituyen los iconos de triángulos por + y -

.fa-chevron-down:before {
  content:"+" !important;
  font-weight:400;
  font-size: 50px;
  line-height:1;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
}

.fa-chevron-up:before {
  content:"-" !important;
  font-weight:400;
  font-size: 50px;
  line-height:1;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
}

