ul {
  list-style: none;
  .equipo {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 40px;
  }

  .miembro {
    padding: 8px 10px;
    color: #111;
    display: flex;

    &:nth-child(odd) {
      background-color: #f5f5f5;
    }

    &:nth-child(even) {
      background-color: #e5e5e5;
    }

    .nombre {
      align-self: end;
    }

  }

  .asiste {
    &:nth-child(odd) {
      background-color: #cbf1c1;
    }
    &:nth-child(even) {
      background-color: #a8c9a0;
    }
  }

  .sancion {
    &:nth-child(odd) {
      background-color: #dc0b22;
    }

    &:nth-child(even) {
      background-color: #cc0c21;
    }
  }
}

.botonAsistencia{
  &:hover {
    cursor: pointer;
  }
  border-radius: 10px;
  margin: 5px;
}

.botonAsistenciaFantasma {
  border-radius: 10px;
  margin: 5px;
}
.botonGoles{
  font-size: 35px;
  width: 25px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.botonComentario{
  flex: 0 0 auto;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
  color: white;
}

.width50 {
  width: 50%;
}
.width100 {
  width: 100%;
}
.etiquetasDiv {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.etiquetasElem{
  margin-right: 1rem;
  width: 4rem;
}
.marginSelect {
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
}
.padding1rem {
  padding: 1rem;
}
.spacing {
  margin-right: 10px;
  margin-left: 10px;
}
.comentario {
  margin-left: 20px;
  margin-top: 20px;
  height: 100px;
  flex: 0 0 50%;
}
.total-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px !important;
}
.label-total {
  margin-right: 10px;
}

.imagenFoto {
  width: 100px;
  padding: 0 20px 0 0;
}
