.barra-titulo {
  padding-top: 10px;
  padding-bottom: 10px;
  //background: #35363a;
  background:none;
  margin-top: 30px;
  color:black;
  position:relative;
  margin-bottom:15px;
  display:flex;
  justify-content:center;

  &:before {
    height: 2px;
    background: linear-gradient(90deg,white 2%,#307190,white 98%);
    display: inline-block;
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
	  top:50%;
  }

  h4 {
    //text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color:black;
    font-family: $font;
    font-weight:700;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    padding: 0 .5em;
    background: white;
    display: inline;
    font-size: 2em;
    line-height: 1.2;
    
    @media (max-width: 63.9375em) {
      //font-size: 1.3em;
      font-size:1.8em;
    }
  }

  p {
    text-align: right;
    color: white;
    font-family: $font;
    font-size: 0.9em;
    margin-bottom: 0;
  }
}


@media (min-width: $pantalla-grande) {
  .linea-tarjeta {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 20px;
    h4 {
      text-align: right;
      font-size: 1.5em;
    }
  }
}


.tipo-tarjeta-precio {
  font-size:1.5em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px 10px 0px 10px;
  //color:white;
  color:black;
  font-family:"Bellota Text", Helvetica, Arial, sans-serif;
  background-color:unset !important;
  opacity: 0.6;
  transition: opacity .3s;
  @media screen and (max-width:1023px) {
    opacity:1;
    text-shadow: 0px 0px 1px black;
  }

}

.btn-add-tarjeta:hover{
  cursor: pointer;

  .tipo-tarjeta-precio {
    //color: white;
    //background-color: #4f4f4f;
    //font-weight:bold;
    opacity:1;
    transition: opacity .3s;
    text-shadow: 0px 0px 1px black;
  }
}

.opacity-tarjeta {
  opacity: 50%;
}

.listado-tarjetas-alta {
  justify-content:space-around;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  
  .listado-tarjetas-alta > .cell {
    margin-top:1em;
    margin-bottom:1em;
    width:50%;
  }
}

@media  (min-width: $pantalla-grande){
  .listado-tarjetas-alta{
    //margin-top : -50px;
  }
}

.iconos-detalle{
  display: flex;
  justify-content: right;
  align-items: initial;
  margin-top:1em;
  margin-bottom:1em;
  filter: contrast(0.6);
  
  @media (max-width: 63.9375em) {
    justify-content:center;
    position:relative;
    left:10px; 
  }
}


@media (max-width:1400px) {

  .iconos-detalle :first-child {
    height:70px;
  }
  
  .iconos-detalle :last-child {
    width:30px;
    height:30px;
    margin-top:-10px;
  }
}