.titulo-reservas {
  text-align: center;
  font-family: $font;
  font-weight: 700;
  //text-transform: uppercase;
  margin-bottom:1rem;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:2em;
	line-height:1;

  @media screen and (max-width: 63.9375em) {
      font-size:1.8em;
  }

  &::before {
    height: 2px;
    background: linear-gradient(90deg,white 2%,#307190,white 98%);
    display: inline-block;
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top:50%;
  }

  span {
    text-transform:unset;
    color:black;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background: white;
    display: inline;
  }
  
}

.titulo-tabla-reservas{
  background-color: $cabecera-gris;
  font-weight: bold;
  color:black;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
  font-size:1.2em;
}

.info-reserva{
  margin-bottom: 20px;
}

.td-boton-anular-reserva{
  text-align: center;
}