.fondo-reservado {
  background: $color-reservado !important;
}

.fondo-reservable {
  background: $color-reserva-activa !important;
}

.fondo-no-reservable {
  background: $color-no-reservable !important;
}

.fondo-reserva-pasada {
  background: $color-reserva-pasada !important;
}

.fondo-no-asiste {
  background: $color-no-asiste !important;
}

.leyendas-reserva {
  //color: #444;
  text-align:center;
  font-size: 14px;
  margin-bottom: 0;

  i {
    padding: 5px;
  }
  
  span {
    margin-left:1em;
  }

}

.show-for-large .leyendas-reserva {
  margin-right: 2em;
  font-size: 14px;
  margin-bottom: 0;
  text-align: right;
  
  span {
    margin-left:1em;
  }
}

.hide-for-large .leyendas-reserva {
  justify-content:center;
}

a.btn-seleccion {
  display: block;
  font-size: 120%;
  text-align: left;
}

.barra-titulo-actividades {
  //padding: 10px;
  //background: $color-azul-uji;
  //margin-top: 20px;
  //margin-bottom: 20px;
  //border-radius: 10px;
  //color: white;
  //text-transform: uppercase;
  font-family: $font;
  font-weight:700;
  //font-size:1.2em;
  //text-align: left;
  background:none;
  color:black;
  font-size: 2em;
  display:flex;
  align-items:center;
  width: 100%;
  position: relative;
  padding:0;
  text-align: initial;
  margin-top:28px;
  margin-bottom:28px;

  @media screen and (max-width: 63.9375em) {
    font-size:1.8em;
  }

  &:before {
    height: 2px;
    background: -webkit-gradient(linear,left top,right top,from(#307190),to(rgba(3,45,75,.03)));
    background: linear-gradient(90deg,#307190 0,rgba(3,45,75,.03) 100%);
    display: inline-block;
    content: "";
    width: calc( 100% - 20px );
    position: absolute;
    z-index: 1;
	  top:50%;
  }

  span {
    background: white;
    padding-right: .5em;
    display:inline-block;
    z-index:1;
    position: relative;
    line-height:1;
  }
}

.actividades-columna {
  padding: 0 15px;
  min-width: 400px;
  position:relative;
  @media screen and (max-width:63.9375em) {
    min-width:unset;
  }
}

.grid-x .cell.actividades-columna {
  flex: 1 0 auto;
}

.js-drilldown-back {
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff !important;
}

.reservas {

  .is-drilldown {
    max-width: none !important;
  }

  .drilldown .js-drilldown-back {
    position:sticky;
    top:0;
  }
}

.drilldown {

  .is-drilldown-submenu a.grid-x {
    padding:.7rem 0;

    @media screen and (max-width: 39.9375em) {
      padding:.7rem 0 0;
    }
  }

  .is-drilldown-submenu-parent {
    transition: background-color .25s ease-out;
    &:hover {
      background-color:#006780;
      transition: background-color .25s ease-out;
    }
  }

  .js-drilldown-back > a::before {
    border-color: transparent white transparent transparent;
  }

  .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent white;
  }

}

.is-drilldown {
  padding: 0px 5px;

  .is-drilldown-submenu {
    padding: 0px 5px;
  }

  a {
    background: none;
    color: white;
  }

  li {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-family: $font;
    font-weight:700;
    font-size:1.2em;
    border-radius: 10px;
    background: $color-azul-uji;
  }

  .contenedor-btn-res {
    border: none !important;
    max-height: 500px;
    overflow-y: auto;
  }

  .btn-reserva-clase {
    a {
      display: flex !important;
    }

    font-size: 1rem !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
    text-align: left !important;
    background: none !important;
    padding-left:1em; 
    padding-right:1em;

    .texto-horario {
      background-color: white !important;
      display: flex !important;
      align-items: center !important;
      color: black !important;
      line-height:1.5;
    }

    .titulo-evento {
      padding: 1rem 1rem !important;
      display: flex !important;
      align-items: center !important;
      border-radius: 10px;

      i {
        margin-right: 20px !important;
      }
    }

    &[data-reservable="true"] a .fondo-reservable {
      transition: background-color .25s ease-out;
      
      &:hover {
        background-color:#006780 !important;
        transition: background-color .25s ease-out;
      }
    }

    @media screen and (max-width: 39.9375em) {

      .grid-x {
        flex-direction:column;
        gap:5px;

        .texto-horario {
          width:100%;
        }

        .titulo-evento {
          width:100%;
          padding: .5rem !important;
        }
      }
    }
  }
}

.link-descarga {
  justify-content:center;
  padding-top:8px;

  a {
    padding:0;
    border-bottom: 1px dotted #9bd;
	  display: inline;
    color:#02c;
    &:hover {
      color:#02c;
      border-bottom:0;
    }
  }

  @media screen and (min-width: 64em) and (max-width:1504px) {
    margin-bottom:0 !important;
  }

  @media screen and (max-width: 63.9375em) {
      margin-bottom:1.5rem !important;
  }

  @media screen and (max-width: 63.9375em) {
      margin-bottom:1.5rem !important;
  }
  
}
