.mensaje {
  background-color:unset !important;
  color: black;
  font-size: 1.3em;
  line-height:1.2;
  border:0;
  margin-top:1rem;
  
  a {
    color:#02c;
    border-bottom: 1px dotted #9bd;
    
    &:hover {
      //color:#02c;
      border-bottom:0;
    }
  }
  
  @media screen and (max-width: 63.9375em) {
      text-align:center;
  }
}