.menu-lateral {
  background-color: $color-menu-pie;
  padding-top:1em;

  /*li {
    border-bottom: 1px solid #fff !important;
  }*/
  ul.nested {
    margin-left:0;
    padding-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
  > ul.accordion-menu > li:last-child {margin-top: 0;}

  a {
    font-size:17px;
    &:hover {
      color: $color-azul-uji-2;
    }
    &:not([href]) {
      color:black;
      cursor: default !important;
      font-family: $font;
      font-weight:700;
      font-size: 20px;
      padding-bottom: 0;
      margin-left: 1rem;
      padding-left: 0;
    }
  }
}

.menu-lateral.reveal {
	width:fit-content;
	left:0 !important;
	min-height: unset;
  height: fit-content;
  top: 46px !important;
	padding-right: 2em;
  margin: 0;
  background-color: $color-menu-pie !important;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0 0.3rem 0.3rem 0;

  .close-button {
    top: .2rem;
 }
  
}

.menu-top {
  background-color: $color-menu-pie;
  padding: 0.4rem 1rem 0.4rem 1rem;
  //padding: 5px 0 5px 10px;
  display:flex;
  align-items:center;
  &:after {
      content: "Menú";
      padding-left: .5em;
      font-weight:bold;
      font-family: $font;
      text-shadow: 0px 0px 0 black;
      font-size:16px;
      position:relative;
      top:1px;
  }
}



.menu-icon::after{
  background-color: $color-azul-uji;
  box-shadow: 0 7px 0 $color-azul-uji,0 14px 0 $color-azul-uji;
}

.menu-icon:hover::after {
  background: $color-azul-uji-2;
  -webkit-box-shadow: 0 7px 0 $color-azul-uji-2, 0 14px 0 $color-azul-uji-2;
  box-shadow: 0 7px 0 $color-azul-uji-2, 0 14px 0 $color-azul-uji-2;
}