
.actividades {
  .linea-tarjeta {
    background-color: $principal-color-tarjeta-actividades;
  }

  .tipo-tarjeta-precio {
    background-color: $secondary-color-tarjeta-actividades;
  }

  .btn-add-cuenta-bancaria{
    color :  $secondary-color-tarjeta-actividades;
  }

  .btn-save-cuenta-bancaria{
    background-color :  $secondary-color-tarjeta-actividades ;
  }

  .boton-pago{
    background-color :  $secondary-color-tarjeta-actividades ;
  }

  .importe-pagos{
    background-color :  $secondary-color-tarjeta-actividades ;
  }

  .importe-descuento{
    background-color :  $secondary-color-tarjeta-actividades ;
  }

  .btn-validar-bonificacion{
    background-color :  $secondary-color-tarjeta-actividades ;
  }
  //.btn-add-bonificacion {
  //  background-color: $principal-color-tarjeta-actividades;
  //}
  //
  //.btn-add-pagos {
  //  background: $secondary-color-tarjeta-actividades;
  //}
}

.plus {
  .linea-tarjeta {
    background-color: $principal-color-tarjeta-plus;
  }

  .tipo-tarjeta-precio {
    background-color: $secondary-color-tarjeta-plus;
  }

  .btn-add-cuenta-bancaria{
    color :  $secondary-color-tarjeta-plus;
  }

  .boton-pago{
    background-color :  $secondary-color-tarjeta-plus;
  }

  .importe-pagos{
    background-color :  $secondary-color-tarjeta-plus;
  }

  .importe-descuento{
    background-color :  $secondary-color-tarjeta-plus;
  }

  .btn-validar-bonificacion{
    background-color :  $secondary-color-tarjeta-plus;
  }

  .btn-save-cuenta-bancaria{
    background-color :  $secondary-color-tarjeta-plus;
  }

  //.btn-add-bonificacion {
  //  background-color: $principal-color-tarjeta-plus;
  //}
  //
  //.btn-add-pagos {
  //  background: $secondary-color-tarjeta-plus;
  //}
}

.uji {
  .linea-tarjeta {
    background-color: $secondary-color-tarjeta-uji;
  }

  .tipo-tarjeta-precio {
    background-color: $principal-color-tarjeta-uji;
  }

  .btn-add-cuenta-bancaria{
    color :  $principal-color-tarjeta-uji;
  }

  .boton-pago{
    background-color :  $principal-color-tarjeta-uji;
  }

  .importe-pagos{
    background-color :  $principal-color-tarjeta-uji ;
  }

  .importe-descuento{
    background-color :  $principal-color-tarjeta-uji ;
  }
  .btn-validar-bonificacion{
    background-color :  $principal-color-tarjeta-uji ;
  }

  .btn-save-cuenta-bancaria{
    background-color :  $principal-color-tarjeta-uji ;
  }
  //.btn-add-bonificacion {
  //  background-color: $secondary-color-tarjeta-uji;
  //}
  //
  //.btn-add-pagos {
  //  background: $principal-color-tarjeta-uji;
  //}
}

.generica {
  .tarjeta{
    grid-column: 1/6;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
    //margin-top: -50px;

    img {
      width: auto;
      height: 150px;
    }
    @media (min-width: 74.9375em) {
      grid-column: 2/6;
    }
  }
  .linea-tarjeta {
    visibility: hidden;
  }

  .tipo-tarjeta-precio {
    background-color: $principal-color-tarjeta-generica;
  }

  .btn-add-cuenta-bancaria{
    color :  $secondary-color-tarjeta-generica;
  }

  .boton-pago{
    background-color :  $secondary-color-tarjeta-generica ;
  }

  .importe-pagos{
    background-color :  $secondary-color-tarjeta-generica ;
  }

  .importe-descuento{
    background-color :  $secondary-color-tarjeta-generica ;
  }

  .btn-validar-bonificacion{
    background-color :  $secondary-color-tarjeta-generica ;
  }

  .btn-save-cuenta-bancaria{
    background-color :  $secondary-color-tarjeta-generica ;
  }

  //.btn-add-bonificacion {
  //  background-color: $principal-color-tarjeta-generica;
  //}
  //
  //.btn-add-pagos {
  //  background: $secondary-color-tarjeta-generica;
  //}
}