@import "mainActas";

#spinner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.rounded {
  border-radius: 10px;
}

.nowrap {
  white-space: nowrap;
}

