ul {
  list-style: none;
}
ul .equipo {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 40px;
}
ul .miembro {
  padding: 8px 10px;
  color: #111;
  display: flex;
}
ul .miembro:nth-child(odd) {
  background-color: #f5f5f5;
}
ul .miembro:nth-child(even) {
  background-color: #e5e5e5;
}
ul .miembro .nombre {
  align-self: end;
}
ul .asiste:nth-child(odd) {
  background-color: #cbf1c1;
}
ul .asiste:nth-child(even) {
  background-color: #a8c9a0;
}
ul .sancion:nth-child(odd) {
  background-color: #dc0b22;
}
ul .sancion:nth-child(even) {
  background-color: #cc0c21;
}

.botonAsistencia {
  border-radius: 10px;
  margin: 5px;
}
.botonAsistencia:hover {
  cursor: pointer;
}

.botonAsistenciaFantasma {
  border-radius: 10px;
  margin: 5px;
}

.botonGoles {
  font-size: 35px;
  width: 25px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.botonComentario {
  flex: 0 0 auto;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
  color: white;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}

.etiquetasDiv {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.etiquetasElem {
  margin-right: 1rem;
  width: 4rem;
}

.marginSelect {
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.padding1rem {
  padding: 1rem;
}

.spacing {
  margin-right: 10px;
  margin-left: 10px;
}

.comentario {
  margin-left: 20px;
  margin-top: 20px;
  height: 100px;
  flex: 0 0 50%;
}

.total-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px !important;
}

.label-total {
  margin-right: 10px;
}

.imagenFoto {
  width: 100px;
  padding: 0 20px 0 0;
}

#spinner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.rounded {
  border-radius: 10px;
}

.nowrap {
  white-space: nowrap;
}

/*# sourceMappingURL=actas.css.map */
