.se-listEncuadre {
    /*color: #002b44;*/
    /*background: #e3e4e6;*/
    font-size: 0.8rem;
    border: 1px solid rgb(169, 170, 172);
    margin: 0 0 10px 0;
    padding: 10px 0 5px 0;
}
.se-listEncuadre li {
    display: inline-block;
}