@charset "UTF-8";
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
}
a.button:hover {
  background-color: #006780 !important;
}

#contenido tr th {
  color: black;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

.actividades .linea-tarjeta {
  background-color: #fcff40;
}
.actividades .tipo-tarjeta-precio {
  background-color: #8e06ec;
}
.actividades .btn-add-cuenta-bancaria {
  color: #8e06ec;
}
.actividades .btn-save-cuenta-bancaria {
  background-color: #8e06ec;
}
.actividades .boton-pago {
  background-color: #8e06ec;
}
.actividades .importe-pagos {
  background-color: #8e06ec;
}
.actividades .importe-descuento {
  background-color: #8e06ec;
}
.actividades .btn-validar-bonificacion {
  background-color: #8e06ec;
}

.plus .linea-tarjeta {
  background-color: #82e3cf;
}
.plus .tipo-tarjeta-precio {
  background-color: #cf2933;
}
.plus .btn-add-cuenta-bancaria {
  color: #cf2933;
}
.plus .boton-pago {
  background-color: #cf2933;
}
.plus .importe-pagos {
  background-color: #cf2933;
}
.plus .importe-descuento {
  background-color: #cf2933;
}
.plus .btn-validar-bonificacion {
  background-color: #cf2933;
}
.plus .btn-save-cuenta-bancaria {
  background-color: #cf2933;
}

.uji .linea-tarjeta {
  background-color: #c7ff3d;
}
.uji .tipo-tarjeta-precio {
  background-color: #d345a9;
}
.uji .btn-add-cuenta-bancaria {
  color: #d345a9;
}
.uji .boton-pago {
  background-color: #d345a9;
}
.uji .importe-pagos {
  background-color: #d345a9;
}
.uji .importe-descuento {
  background-color: #d345a9;
}
.uji .btn-validar-bonificacion {
  background-color: #d345a9;
}
.uji .btn-save-cuenta-bancaria {
  background-color: #d345a9;
}

.generica .tarjeta {
  grid-column: 1/6;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  margin-bottom: 50px;
}
.generica .tarjeta img {
  width: auto;
  height: 150px;
}
@media (min-width: 74.9375em) {
  .generica .tarjeta {
    grid-column: 2/6;
  }
}
.generica .linea-tarjeta {
  visibility: hidden;
}
.generica .tipo-tarjeta-precio {
  background-color: #e8eb3a;
}
.generica .btn-add-cuenta-bancaria {
  color: #97d320;
}
.generica .boton-pago {
  background-color: #97d320;
}
.generica .importe-pagos {
  background-color: #97d320;
}
.generica .importe-descuento {
  background-color: #97d320;
}
.generica .btn-validar-bonificacion {
  background-color: #97d320;
}
.generica .btn-save-cuenta-bancaria {
  background-color: #97d320;
}

.cabecera-tarjeta {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 39.9375em) {
  .cabecera-tarjeta {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .cabecera-tarjeta {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 64em) {
  .cabecera-tarjeta {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 250px 250px 1fr 1fr 1fr;
  }
}
.tarjeta {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  margin-top: -50px;
  margin-bottom: 0;
}
.tarjeta img {
  width: auto;
  height: 150px;
}

@media screen and (max-width: 39.9375em) {
  .tarjeta {
    margin-top: -40px;
    margin-bottom: 2em;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .tarjeta {
    margin-top: -40px;
    grid-column: 1 / 6;
    position: relative;
    left: .5em;
  }
}
@media (max-width: 63.9375em) {
  .tarjeta {
    margin-bottom: 30px;
  }
}
@media (min-width: 64em) {
  .tarjeta {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    margin-top: -25px;
    width: 500px;
  }
  .tarjeta img {
    width: auto;
    height: auto;
  }
}
.linea-tarjeta {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-top: 15px;
  padding-bottom: 50px;
}
.linea-tarjeta:empty {
  visibility: hidden;
  padding-bottom: 0;
}
.linea-tarjeta-nombre {
  font-size: 1.2em;
  text-align: center;
}
.linea-tarjeta-titulo {
  font-size: 2em;
  text-align: center;
  line-height: 1;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .linea-tarjeta {
    grid-column: 1 / 6;
  }
}
@media (max-width: 63.9375em) {
  .linea-tarjeta {
    margin-left: 0;
    margin-top: 0;
  }
  .linea-tarjeta-titulo {
    padding-left: .5em;
    padding-right: .5em;
  }
}
@media (min-width: 64em) {
  .linea-tarjeta {
    grid-row: 1 / 2;
    font-family: "Bellota Text", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .linea-tarjeta-nombre {
    text-align: right;
  }
  .linea-tarjeta-titulo {
    font-size: 2.5em;
    width: calc(100% - 500px);
    text-align: right;
    float: right;
  }
}
@media screen and (max-width: 39.9375em) {
  .linea-tarjeta-titulo {
    font-size: 1.7em;
  }
}
.detalle-instalaciones {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  min-width: 200px;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .detalle-instalaciones {
    grid-column: 2 / 3;
  }
}
@media (min-width: 64em) {
  .detalle-instalaciones {
    grid-column: 3 / 4;
    min-width: 150px;
    grid-row: 2 / 3;
    margin-top: 50px;
  }
}
.texto-detalle-instalaciones {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-weight: bold;
  text-align: center;
  filter: contrast(0.6);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .texto-detalle-instalaciones {
    grid-column: 2 / 3;
  }
}
@media (min-width: 1400px) {
  .texto-detalle-instalaciones {
    margin-top: 1em;
  }
}
@media (min-width: 64em) {
  .texto-detalle-instalaciones {
    grid-column: 3 / 4;
    min-width: 150px;
    grid-row: 3 / 4;
  }
}
.detalle-clases {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  min-width: 200px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .detalle-clases {
    grid-column: 3 / 4;
  }
}
@media (min-width: 64em) {
  .detalle-clases {
    min-width: 150px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    margin-top: 50px;
  }
}
.texto-detalle-clases {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  font-weight: bold;
  text-align: center;
  filter: contrast(0.6);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .texto-detalle-clases {
    grid-column: 3 / 4;
  }
}
@media (min-width: 1400px) {
  .texto-detalle-clases {
    margin-top: 1em;
  }
}
@media (min-width: 64em) {
  .texto-detalle-clases {
    grid-column: 4 / 5;
    min-width: 150px;
    grid-row: 3 / 4;
  }
}
.detalle-musculacion {
  grid-column: 1 / 5;
  grid-row: 5 / 6;
  min-width: 200px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 63.9375em) {
  .detalle-musculacion {
    margin-top: unset;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .detalle-musculacion {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
}
@media (min-width: 64em) {
  .detalle-musculacion {
    grid-column: 5 / 6;
    min-width: 150px;
    grid-row: 2 / 3;
  }
}
.texto-detalle-musculacion {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  font-weight: bold;
  text-align: center;
  filter: contrast(0.6);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .texto-detalle-musculacion {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
}
@media (min-width: 1400px) {
  .texto-detalle-musculacion {
    margin-top: 1em;
  }
}
@media (min-width: 64em) {
  .texto-detalle-musculacion {
    grid-column: 5 / 6;
    min-width: 150px;
    grid-row: 3 / 4;
  }
}
@media (min-width: 64em) and (max-width: 1400px) {
  .cabecera-tarjeta {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: unset;
  }

  .tarjeta {
    width: 400px;
    justify-self: self-start;
    margin-left: 1em;
    align-self: start;
  }

  .linea-tarjeta {
    margin-left: 0;
  }

  .linea-tarjeta-titulo {
    font-size: 2em;
    width: calc(100% - 400px);
  }

  .detalle-instalaciones, .detalle-clases, .detalle-musculacion {
    margin-top: 20px;
  }
}
.barra-titulo {
  padding-top: 10px;
  padding-bottom: 10px;
  background: none;
  margin-top: 30px;
  color: black;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.barra-titulo:before {
  height: 2px;
  background: linear-gradient(90deg, white 2%, #307190, white 98%);
  display: inline-block;
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.barra-titulo h4 {
  text-align: center;
  font-weight: 600;
  color: black;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  padding: 0 .5em;
  background: white;
  display: inline;
  font-size: 2em;
  line-height: 1.2;
}
@media (max-width: 63.9375em) {
  .barra-titulo h4 {
    font-size: 1.8em;
  }
}
.barra-titulo p {
  text-align: right;
  color: white;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-bottom: 0;
}

@media (min-width: 64em) {
  .linea-tarjeta {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 20px;
  }
  .linea-tarjeta h4 {
    text-align: right;
    font-size: 1.5em;
  }
}
.tipo-tarjeta-precio {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px 10px 0px 10px;
  color: black;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  background-color: unset !important;
  opacity: 0.6;
  transition: opacity .3s;
}
@media screen and (max-width: 1023px) {
  .tipo-tarjeta-precio {
    opacity: 1;
    text-shadow: 0px 0px 1px black;
  }
}

.btn-add-tarjeta:hover {
  cursor: pointer;
}
.btn-add-tarjeta:hover .tipo-tarjeta-precio {
  opacity: 1;
  transition: opacity .3s;
  text-shadow: 0px 0px 1px black;
}

.opacity-tarjeta {
  opacity: 50%;
}

.listado-tarjetas-alta {
  justify-content: space-around;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .listado-tarjetas-alta > .cell {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 50%;
  }
}
.iconos-detalle {
  display: flex;
  justify-content: right;
  align-items: initial;
  margin-top: 1em;
  margin-bottom: 1em;
  filter: contrast(0.6);
}
@media (max-width: 63.9375em) {
  .iconos-detalle {
    justify-content: center;
    position: relative;
    left: 10px;
  }
}

@media (max-width: 1400px) {
  .iconos-detalle :first-child {
    height: 70px;
  }

  .iconos-detalle :last-child {
    width: 30px;
    height: 30px;
    margin-top: -10px;
  }
}
.titulo-reservas {
  text-align: center;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  line-height: 1;
}
@media screen and (max-width: 63.9375em) {
  .titulo-reservas {
    font-size: 1.8em;
  }
}
.titulo-reservas::before {
  height: 2px;
  background: linear-gradient(90deg, white 2%, #307190, white 98%);
  display: inline-block;
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.titulo-reservas span {
  text-transform: unset;
  color: black;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: white;
  display: inline;
}

.titulo-tabla-reservas {
  background-color: #ddd;
  font-weight: bold;
  color: black;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
  font-size: 1.2em;
}

.info-reserva {
  margin-bottom: 20px;
}

.td-boton-anular-reserva {
  text-align: center;
}

.pantalla-pagos {
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 64em) and (max-width: 1400px) {
  .pantalla-pagos {
    grid-template-columns: 400px 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1023px) {
  .pantalla-pagos {
    display: flex;
    flex-direction: column;
  }
}
.pantalla-pagos :nth-child(3).pagos-info-metodos {
  grid-column: 2 / 5;
}
.pantalla-pagos :nth-child(4).boton-pago {
  grid-column: 2 / 5;
}

.pagos-info-tarjeta {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

@media screen and (max-width: 639px) {
  .pagos-info-tarjeta {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .pagos-info-tarjeta {
    margin-bottom: 1rem;
  }
}
@media (min-width: 64em) {
  .pagos-info-tarjeta {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }
}
.pagos-info-leyenda {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

@media (min-width: 64em) {
  .pagos-info-leyenda {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }
}
.pagos-info-bonificaciones {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

@media (min-width: 64em) {
  .pagos-info-bonificaciones {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.pagos-info-metodos {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

@media (min-width: 64em) {
  .pagos-info-metodos {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-right: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.importe-pagos {
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  background-color: unset !important;
  color: black;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0;
  margin-bottom: 0;
  line-height: 1;
}
.importe-pagos.importe-aceptada {
  display: none;
  opacity: .4;
}

.importe-descuento {
  text-align: center;
  border-radius: 10px;
  background-color: unset !important;
  color: black;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.importe-descuento .descuento {
  font-size: 0.6em;
}

@media (min-width: 64em) {
  .importe-pagos {
    margin-right: 20px;
  }

  .importe-descuento {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .grid-x.titulo-pagos {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding-top: 0;
    padding: 1rem;
  }
}
.titulo-pagos {
  border-radius: 10px;
  color: white;
  padding: 10px 10px 0 10px;
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  background: none;
  text-transform: unset;
  margin-bottom: 0;
  font-size: 1.6rem;
}
.titulo-pagos i {
  text-align: right;
}
.titulo-pagos:hover {
  cursor: pointer;
}
.titulo-pagos p {
  color: black;
  background-color: white;
  border-radius: unset;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: unset;
  position: relative;
  padding: 0;
  text-align: initial;
  font-weight: 700;
  margin-bottom: 1rem;
}
.titulo-pagos p::before {
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#307190), to(rgba(3, 45, 75, 0.03)));
  background: linear-gradient(90deg, #307190 0, rgba(3, 45, 75, 0.03) 100%);
  display: inline-block;
  content: "";
  width: calc( 100% - 20px );
  position: absolute;
  z-index: 1;
  top: 50%;
}
.titulo-pagos p span {
  background-color: white !important;
  z-index: 1;
  padding-right: .5em;
  line-height: 1;
}

@media screen and (max-width: 1023px) {
  .titulo-pagos {
    margin-left: 0;
    margin-right: 0;
  }
  .titulo-pagos p {
    margin-bottom: 0;
  }
  .titulo-pagos p::before {
    display: none;
  }
  .titulo-pagos i {
    color: black;
  }
}
@media screen and (min-width: 1024px) {
  .titulo-pagos .small-11 {
    width: 100%;
  }
}
@media (min-width: 64em) {
  .titulo-pagos {
    margin-right: 0;
    margin-left: 0;
    font-size: 1.6rem;
    padding: 10px;
  }
  .titulo-pagos i {
    display: none;
  }
  .titulo-pagos:hover {
    cursor: auto;
  }
}
.metodo-pago {
  border-radius: 5px;
  margin: 0;
}
.metodo-pago > .grid-x {
  flex-direction: column-reverse;
  padding: 0 30px;
}
.metodo-pago .cell.formCuentaBancariaNueva {
  width: 100%;
}

.leyenda-tratamiento-datos {
  display: none;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  padding: 30px;
  border-radius: 5px;
  font-size: 0.7em;
}
.leyenda-tratamiento-datos br {
  margin-bottom: 15px;
}
@media screen and (max-width: 1023px) {
  .leyenda-tratamiento-datos {
    display: block;
    font-size: 14px;
  }
}

@media screen and (max-width: 639px) {
  .leyenda-tratamiento-datos {
    padding: 0 10px;
  }
}
@media (min-width: 64em) {
  .leyenda-tratamiento-datos {
    display: block;
    font-size: 1em;
  }
}
.pagos-info-leyenda .leyenda-tratamiento-datos {
  padding-top: 0;
  padding-bottom: 0;
}
.pagos-info-leyenda .leyenda-tratamiento-datos strong {
  display: inline-block;
  padding-bottom: 1em;
}
.pagos-info-leyenda .leyenda-tratamiento-datos a {
  padding: 0;
  border-bottom: 1px dotted #9bd;
  display: inline;
  text-decoration: none;
  color: #02c;
}
.pagos-info-leyenda .leyenda-tratamiento-datos a:hover {
  border-bottom: 0;
  cursor: pointer !important;
}
@media screen and (max-width: 1023px) {
  .pagos-info-leyenda .leyenda-tratamiento-datos {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.uji-tratamiento-datos-subtitulo {
  line-height: 1.2;
  font-weight: bold;
}

#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla {
  border: 1px solid #f2f2f2;
}
#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla tbody td {
  padding: 0.8rem 1rem;
  vertical-align: top;
  line-height: 1.6;
}
@media screen and (max-width: 639px) {
  #contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla tbody td {
    padding: 0;
    display: block;
    background-color: white;
  }
}
#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla tbody p {
  margin-bottom: 0;
}
#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla tbody tr td:first-child {
  text-align: left;
}
@media screen and (max-width: 639px) {
  #contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla tbody {
    border: none;
  }
  #contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla tbody tr td:not(:first-child) {
    padding-bottom: 1em;
  }
}
#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla a {
  border-bottom: 1px dotted #9bd;
  text-decoration: none;
  color: #02c;
}
#contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla a:hover {
  border-bottom: 0;
}
@media screen and (max-width: 639px) {
  #contenido .leyenda-tratamiento-datos .uji-tratamiento-datos-tabla {
    border: none;
  }
}

.contenedor-bonificaciones {
  font-size: 0.9em;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
}
@media screen and (max-width: 639px) {
  .contenedor-bonificaciones {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1023px) {
  .contenedor-bonificaciones {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.contenedor-bonificaciones .orbit-controls .orbit-previous, .contenedor-bonificaciones .orbit-controls .orbit-next {
  background-color: white;
  color: #002744;
  font-size: 1.2rem;
  transition: color .25s ease-out;
  padding: 0 1rem;
  transition: background-color .25s ease-out;
}
.contenedor-bonificaciones .orbit-controls .orbit-previous:hover, .contenedor-bonificaciones .orbit-controls .orbit-next:hover {
  color: #006780;
  transition: color .25s ease-out;
}
.contenedor-bonificaciones .orbit-bullets {
  display: none;
}
.contenedor-bonificaciones .btn-add-bonificacion {
  border-radius: 5px;
  color: black;
  border: 1px solid #e3e4e6;
  padding: 1.5em;
}
.contenedor-bonificaciones .btn-add-bonificacion .importe {
  font-weight: bold;
}
.contenedor-bonificaciones .btn-add-bonificacion .btn-validar-bonificacion {
  text-align: center;
  text-transform: uppercase;
  background-color: #002744;
  color: white;
  padding: 0.25rem .5rem;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 2px;
  display: inline-block;
  border: 1px solid transparent;
  line-height: 1;
  transition: background-color .25s ease-out;
}
.contenedor-bonificaciones .btn-add-bonificacion .btn-validar-bonificacion:hover {
  cursor: pointer;
  background-color: #006780;
}
.contenedor-bonificaciones .bonificaciones-comentario {
  line-height: 1.3;
}

.bonificacion-aceptada {
  background: #ececec !important;
}
.bonificacion-aceptada .bonificacion-aceptada p {
  color: white;
}
.bonificacion-aceptada .btn-validar-bonificacion {
  background-color: gray;
}

.importe-aceptada {
  background: #4f4f4f !important;
}

.contenedor-metodos-pago {
  display: none;
  padding: 0;
  height: max-content;
}

@media screen and (max-width: 1023px) {
  .contenedor-metodos-pago {
    display: block;
  }
}
@media (min-width: 64em) {
  .contenedor-metodos-pago {
    display: block;
  }
}
.btn-add-cuenta-bancaria {
  text-align: right;
  padding: 0;
  font-weight: bold;
}
.btn-add-cuenta-bancaria p {
  border-bottom: 0;
  color: #333;
  text-align: left;
  margin-bottom: .5em;
}
.btn-add-cuenta-bancaria:hover {
  cursor: pointer;
}

.boton-pago {
  color: white;
  text-transform: uppercase;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  grid-row: 5 / 6;
  grid-column: 1/end;
  width: auto;
  justify-self: center;
  padding: 0.25rem 4rem;
  font-size: 1.2rem;
  border-radius: 5px;
  letter-spacing: 3px;
  margin-top: 1rem;
}
@media screen and (max-width: 639px) {
  .boton-pago {
    width: calc( 100% - 20px);
  }
}
@media screen and (max-width: 1023px) {
  .boton-pago {
    width: fit-content;
    align-self: center;
    padding: 0.25rem 1rem;
    margin: 3rem;
  }
}

@media (min-width: 64em) {
  .boton-pago {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    justify-self: self-start;
    margin-left: 30px;
  }
}
.btn-save-cuenta-bancaria {
  color: white;
  text-transform: uppercase;
  background-color: #002744 !important;
  padding: 0.25rem 1rem;
  font-size: 12px;
  border-radius: 5px !important;
  letter-spacing: 2px;
  font-family: unset;
  margin-left: 0;
  width: fit-content;
  margin-bottom: 0;
}
.btn-save-cuenta-bancaria:hover {
  cursor: pointer;
}

@media (min-width: 64em) {
  .btn-save-cuenta-bancaria {
    margin-left: 20px;
  }
}
.cuentaBancariaNueva {
  font-size: 0.9em;
}

@media (min-width: 64em) {
  .cuentaBancariaNueva {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.formCuentaBancariaNueva {
  visibility: hidden;
}
.formCuentaBancariaNueva .grid-x {
  justify-content: center;
  align-items: center;
}
.formCuentaBancariaNueva .grid-x .btn-save-cuenta-bancaria {
  margin-left: .5rem;
}
@media screen and (max-width: 1023px) {
  .formCuentaBancariaNueva .grid-x .btn-save-cuenta-bancaria {
    margin-left: 0;
  }
}

.btn-add-pagos {
  border: none;
  align-items: center;
  display: flex;
  padding: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.btn-add-pagos i {
  margin-right: 20px;
}
.btn-add-pagos:hover {
  cursor: pointer;
}
.btn-add-pagos .numero_cuenta {
  text-align: right;
  font-size: 0.7em;
  font-weight: normal;
}

.fa-chevron-down:before {
  content: "+" !important;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
}

.fa-chevron-up:before {
  content: "-" !important;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
}

.mensaje {
  background-color: unset !important;
  color: black;
  font-size: 1.3em;
  line-height: 1.2;
  border: 0;
  margin-top: 1rem;
}
.mensaje a {
  color: #02c;
  border-bottom: 1px dotted #9bd;
}
.mensaje a:hover {
  border-bottom: 0;
}
@media screen and (max-width: 63.9375em) {
  .mensaje {
    text-align: center;
  }
}

.fondo-reservado {
  background: green !important;
}

.fondo-reservable {
  background: #1779ba !important;
}

.fondo-no-reservable {
  background: gray !important;
}

.fondo-reserva-pasada {
  background: orange !important;
}

.fondo-no-asiste {
  background: red !important;
}

.leyendas-reserva {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}
.leyendas-reserva i {
  padding: 5px;
}
.leyendas-reserva span {
  margin-left: 1em;
}

.show-for-large .leyendas-reserva {
  margin-right: 2em;
  font-size: 14px;
  margin-bottom: 0;
  text-align: right;
}
.show-for-large .leyendas-reserva span {
  margin-left: 1em;
}

.hide-for-large .leyendas-reserva {
  justify-content: center;
}

a.btn-seleccion {
  display: block;
  font-size: 120%;
  text-align: left;
}

.barra-titulo-actividades {
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background: none;
  color: black;
  font-size: 2em;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: initial;
  margin-top: 28px;
  margin-bottom: 28px;
}
@media screen and (max-width: 63.9375em) {
  .barra-titulo-actividades {
    font-size: 1.8em;
  }
}
.barra-titulo-actividades:before {
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#307190), to(rgba(3, 45, 75, 0.03)));
  background: linear-gradient(90deg, #307190 0, rgba(3, 45, 75, 0.03) 100%);
  display: inline-block;
  content: "";
  width: calc( 100% - 20px );
  position: absolute;
  z-index: 1;
  top: 50%;
}
.barra-titulo-actividades span {
  background: white;
  padding-right: .5em;
  display: inline-block;
  z-index: 1;
  position: relative;
  line-height: 1;
}

.actividades-columna {
  padding: 0 15px;
  min-width: 400px;
  position: relative;
}
@media screen and (max-width: 63.9375em) {
  .actividades-columna {
    min-width: unset;
  }
}

.grid-x .cell.actividades-columna {
  flex: 1 0 auto;
}

.js-drilldown-back {
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff !important;
}

.reservas .is-drilldown {
  max-width: none !important;
}
.reservas .drilldown .js-drilldown-back {
  position: sticky;
  top: 0;
}

.drilldown .is-drilldown-submenu a.grid-x {
  padding: .7rem 0;
}
@media screen and (max-width: 39.9375em) {
  .drilldown .is-drilldown-submenu a.grid-x {
    padding: .7rem 0 0;
  }
}
.drilldown .is-drilldown-submenu-parent {
  transition: background-color .25s ease-out;
}
.drilldown .is-drilldown-submenu-parent:hover {
  background-color: #006780;
  transition: background-color .25s ease-out;
}
.drilldown .js-drilldown-back > a::before {
  border-color: transparent white transparent transparent;
}
.drilldown .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent white;
}

.is-drilldown {
  padding: 0px 5px;
}
.is-drilldown .is-drilldown-submenu {
  padding: 0px 5px;
}
.is-drilldown a {
  background: none;
  color: white;
}
.is-drilldown li {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 10px;
  background: #002744;
}
.is-drilldown .contenedor-btn-res {
  border: none !important;
  max-height: 500px;
  overflow-y: auto;
}
.is-drilldown .btn-reserva-clase {
  font-size: 1rem !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
  text-align: left !important;
  background: none !important;
  padding-left: 1em;
  padding-right: 1em;
}
.is-drilldown .btn-reserva-clase a {
  display: flex !important;
}
.is-drilldown .btn-reserva-clase .texto-horario {
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  color: black !important;
  line-height: 1.5;
}
.is-drilldown .btn-reserva-clase .titulo-evento {
  padding: 1rem 1rem !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 10px;
}
.is-drilldown .btn-reserva-clase .titulo-evento i {
  margin-right: 20px !important;
}
.is-drilldown .btn-reserva-clase[data-reservable="true"] a .fondo-reservable {
  transition: background-color .25s ease-out;
}
.is-drilldown .btn-reserva-clase[data-reservable="true"] a .fondo-reservable:hover {
  background-color: #006780 !important;
  transition: background-color .25s ease-out;
}
@media screen and (max-width: 39.9375em) {
  .is-drilldown .btn-reserva-clase .grid-x {
    flex-direction: column;
    gap: 5px;
  }
  .is-drilldown .btn-reserva-clase .grid-x .texto-horario {
    width: 100%;
  }
  .is-drilldown .btn-reserva-clase .grid-x .titulo-evento {
    width: 100%;
    padding: .5rem !important;
  }
}

.link-descarga {
  justify-content: center;
  padding-top: 8px;
}
.link-descarga a {
  padding: 0;
  border-bottom: 1px dotted #9bd;
  display: inline;
  color: #02c;
}
.link-descarga a:hover {
  color: #02c;
  border-bottom: 0;
}
@media screen and (min-width: 64em) and (max-width: 1504px) {
  .link-descarga {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 63.9375em) {
  .link-descarga {
    margin-bottom: 1.5rem !important;
  }
}
@media screen and (max-width: 63.9375em) {
  .link-descarga {
    margin-bottom: 1.5rem !important;
  }
}

.icono_atletismo {
  content: url("/se/resources/images/esports/icones/icono-atletismo.png");
  width: 50px;
  height: 50px;
}

.icono_cardio {
  content: url("/se/resources/images/esports/icones/icono-cardio.png");
  width: 50px;
  height: 50px;
}

.icono_correr {
  content: url("/se/resources/images/esports/icones/icono-correr.png");
  width: 50px;
  height: 50px;
}

.icono_dirigidas {
  content: url("/se/resources/images/esports/icones/icono-dirigides.png");
  width: 50px;
  height: 50px;
}

.icono_musculacion {
  content: url("/se/resources/images/esports/icones/icono-musculacio.png");
  width: 50px;
  height: 50px;
}

.icono_nino {
  content: url("/se/resources/images/esports/icones/icono-nino.png");
  width: 50px;
  height: 50px;
}

.icono_piscina {
  content: url("/se/resources/images/esports/icones/icono-piscina.png");
  width: 50px;
  height: 50px;
}

.icono_pista {
  content: url("/se/resources/images/esports/icones/icono-pista.png");
  width: 50px;
  height: 50px;
}

.icono_raqueta {
  content: url("/se/resources/images/esports/icones/icono-raqueta.png");
  width: 50px;
  height: 50px;
}

.icono_domiciliar {
  content: url("/se/resources/images/esports/icones/domiciliar.png");
  width: 50px;
  height: 50px;
}

.icono_tarjetas {
  content: url("/se/resources/images/esports/icones/tarjetas.png");
  width: 50px;
  height: 50px;
}

.icono_grande_pista {
  content: url("/se/resources/images/esports/targetes/detalls/pistas-blanc.png");
  width: auto;
  height: 100px;
}

.icono_grande_dirigidas {
  content: url("/se/resources/images/esports/targetes/detalls/dirigides.png");
  width: auto;
  height: 100px;
}

.icono_grande_musculacion {
  content: url("/se/resources/images/esports/targetes/detalls/musculacio.png");
  width: auto;
  height: 100px;
}

.icono_positivo {
  content: url("/se/resources/images/esports/targetes/detalls/positivo.png");
  width: 50px;
  height: 50px;
  margin-top: -30px;
}
@media screen and (max-width: 39.9375em) {
  .icono_positivo {
    margin-top: 0;
    width: 40px;
    height: 40px;
  }
}

.icono_negativo {
  content: url("/se/resources/images/esports/targetes/detalls/negativo.png");
  width: 50px;
  height: 50px;
  margin-top: -30px;
}
@media screen and (max-width: 39.9375em) {
  .icono_negativo {
    margin-top: 0;
    width: 40px;
    height: 40px;
  }
}

.eventoCalendario {
  display: flex !important;
  align-items: center;
  text-transform: uppercase;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-size: 1.3rem !important;
  border: none !important;
}
.eventoCalendario :nth-child(n) {
  margin-left: 10px;
}
.eventoCalendario i {
  max-height: 90%;
  width: auto;
}

.calendario {
  text-transform: uppercase;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right-color: lightgrey;
  margin-bottom: 20px;
}
.calendario ol {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  row-gap: .4em;
}
.calendario li {
  font-size: 1.5ch;
  font-weight: bold;
  margin-bottom: 6px;
}
.calendario .titulo-mes {
  font-weight: bolder;
}
.calendario .titulo-mes h2 {
  text-transform: none;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
.calendario .titulo-mes .mesSiguiente:hover {
  cursor: pointer;
}
.calendario .first-day {
  grid-column-start: var(--first-day-start, 0);
}
.calendario .day-name {
  font-size: 15px;
  margin-bottom: 6px;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}
.calendario .day-reservable {
  padding: 8px;
  border-radius: 5px;
  border: 0;
  border: 2px solid #1779ba;
  transition: border-color .25s ease-out;
}
.calendario .day-reservable:hover {
  cursor: pointer;
  border-color: #006780;
  transition: border-color .25s ease-out;
}
.calendario .day-sel {
  background-color: #002744;
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: background-color .25s ease-out;
}
.calendario .day-sel:hover {
  cursor: pointer;
}
.calendario .day-festivo {
  color: red;
}

.menu-lateral {
  background-color: #ececec;
  padding-top: 1em;
  /*li {
    border-bottom: 1px solid #fff !important;
  }*/
}
.menu-lateral ul.nested {
  margin-left: 0;
  padding-left: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}
.menu-lateral > ul.accordion-menu > li:last-child {
  margin-top: 0;
}
.menu-lateral a {
  font-size: 17px;
}
.menu-lateral a:hover {
  color: #02c;
}
.menu-lateral a:not([href]) {
  color: black;
  cursor: default !important;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 0;
  margin-left: 1rem;
  padding-left: 0;
}

.menu-lateral.reveal {
  width: fit-content;
  left: 0 !important;
  min-height: unset;
  height: fit-content;
  top: 46px !important;
  padding-right: 2em;
  margin: 0;
  background-color: #ececec !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0.3rem 0.3rem 0;
}
.menu-lateral.reveal .close-button {
  top: .2rem;
}

.menu-top {
  background-color: #ececec;
  padding: 0.4rem 1rem 0.4rem 1rem;
  display: flex;
  align-items: center;
}
.menu-top:after {
  content: "Menú";
  padding-left: .5em;
  font-weight: bold;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  text-shadow: 0px 0px 0 black;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.menu-icon::after {
  background-color: #002744;
  box-shadow: 0 7px 0 #002744, 0 14px 0 #002744;
}

.menu-icon:hover::after {
  background: #02c;
  -webkit-box-shadow: 0 7px 0 #02c, 0 14px 0 #02c;
  box-shadow: 0 7px 0 #02c, 0 14px 0 #02c;
}

.contenido {
  margin-top: 48px;
}
@media screen and (max-width: 63.99875em) {
  .contenido {
    margin-top: 46px;
  }
}

.flotante .titulo {
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
}
.flotante .btn-submit {
  text-align: center;
  float: right;
  padding: 20px 30px 20px 30px;
  border: none;
  margin-bottom: 2px;
  background-color: #3273dc;
  color: white;
}
.flotante .btn-submit:hover {
  cursor: pointer;
}

.mensaje {
  background-color: unset !important;
  color: black;
  font-size: 1.3em;
  line-height: 1.2;
  border: 0;
  margin-top: 1rem;
}
.mensaje a {
  color: #02c;
  border-bottom: 1px dotted #9bd;
}
.mensaje a:hover {
  border-bottom: 0;
}
@media screen and (max-width: 63.9375em) {
  .mensaje {
    text-align: center;
  }
}

#spinner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/*
Deshabilito la clase sombra para que no se aplique
.sombra {
  -webkit-box-shadow: 3px 3px 4px 0px #5B5B5B;
  box-shadow: 3px 3px 4px 0px #5B5B5B;
} 

*/
.rounded {
  border-radius: 10px;
}

.nowrap {
  white-space: nowrap;
}

.btnMenu {
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
