html {
    height: 100%;
    background-color: #fff;
}

body {
    min-height: 100%;
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #333;
}



.show-when-stacked {
    display: none;
}

#app {
    min-height: calc(100vh);
    color: #333;
}

#contenido {
    /*margin-bottom: 30px;*/
    padding: 20px;
    margin-top: 15px;
    min-height: calc(50vh);
}

#contenido tr th {
    text-align: left;
    color: #fff;
    background-color: #e3e4e6;
    color: #002b44;
}

#contenido tr td a.button {
    margin-bottom: 0;
    padding: .25rem .5rem;
}

#contenido tbody td, #contenido tbody th {
    padding: .20rem .3rem .20em;
}

#contenido .fc-toolbar h2 {
    font-size: 1.15em;
}

#contenido .fc-button-primary:not(:disabled).fc-button-active, #contenido .fc-button-primary:not(:disabled):active {
    color: #fff;
    background-color: #002b44;
    border-color: #151e27;
}

tfoot td, tfoot th, thead td, thead th {
    padding: .3rem .4rem .4rem;
}

.off-canvas, .title-bar, .button {
    background-color: #002b44 !important;
}

.button {
    border-radius: 5px;
}

.info-tarjeta-desktop {
    padding: 4px 10px;
    text-align: right;
    font-size: 0.9em;
}

#logo-container {
    background-color: #fff;
}

#logo-container img {
    padding: 17px 15px 10px 12px;
}

.accordion-title:focus, .accordion-title:hover {
    color: #002b44
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.botonera-flotante {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 10px 10px 10px 0;
}

.botonera-flotante .button {
    border: 1px solid #fff;
    margin-bottom: 0;
}

.title-logo {
    float: right;
    height: 1.8em;
}

.title-bar-title {
    font-size: 0.9em;
}

#contenido .hide-desktop {
    visibility: hidden;
    display: none;
}

#contenido .hide-mobile {
    visibility: visible;
    display: inline-block;
}

/* FOOTER */

.uji-footer {
    font-size: 0.9rem;
    margin: 0 0 48px;
    color: #777c86;
}

.uji-footer a {
    color: #002b44;
}

.textCenter {
    text-align: center;
}

.footItem {
    border-top: 1px solid #eeeeee;
    padding: 10px;
}



/* END FOOTER */

@media (max-width: 63.99875em) {
    .show-when-stacked {
        display: inline;
    }

    #contenido {
        margin-top: 20px;
        padding: 10px;
    }

    #contenido .fc-button {
        padding: .2em .3em;
    }

    #contenido .hide-mobile {
        display: none;
        visibility: hidden;
    }

    #contenido .hide-desktop {
        visibility: visible;
        display: inline-block;
    }

    #contenido table.stack tbody td, #contenido table.stack tbody th {
        padding: .10rem .3rem .10em;
    }
}

/* Foreground Color - fc or color- */
/*.fcw, .fc-w, .color-white {*/
/*    color: #FFF;*/
/*}*/

/* White*/
/*.fclg, .fc-lg, .color-light-gray {*/
/*    color: #999;*/
/*}*/

/*!* Light Gray *!*/
/*.fcdg, .fc-dg, .color-dark-gray {*/
/*    color: #444;*/
/*}*/

/*!* Dark Gray *!*/
/*.fcbl, .fc-bl, .color-blue {*/
/*    color: #3273dc;*/
/*}*/

/* Blue */
/*.fcb, .fc-b, .color-black {*/
/*    color: #111;*/
/*}*/

/* Note: Not actually black :P */
/*.fcy, .fc-y, .color-yellow {*/
/*    color: #ffdd57;*/
/*}*/

/* Yellow */
/*.fcpi, .fc-pi, .color-pink {*/
/*    color: #ff3860;*/
/*}*/

/* Pink */
/*.fcpu, .fc-pu, .color-purple {*/
/*    color: #8446a5;*/
/*}*/

/* Purple */


/* Background Color - bc or background- */
.bgw, .bg-w, .background-white {
    background: #FFF;
    background-color: #FFF;
}

.bglg, .bg-lg, .background-light-gray {
    background: #999;
    background-color: #999;
}

.bgdg, .bg-dg, .background-dark-gray {
    background: #444;
    background-color: #444;
}

/*.bgbl, .bg-bl, .background-blue {*/
/*    background: #3273dc;*/
/*    background-color: #3273dc;*/
/*}*/

.bgb, .bg-b, .background-black {
    background: #111;
    background-color: #111;
}

/* Note: Not actually black */
.bgy, .bg-y, .background-yellow {
    background: #ffdd57;
    background-color: #ffdd57;
}

.bgpi, .bg-pi, .background-pink {
    background: #ff3860;
    background-color: #ff3860;
}

.bgpu, .bg-pu, .background-purple {
    background: #8446a5;
    background-color: #8446a5;
}

/* Purple */

/* Global Margins - margin-# or m# increments of five until 50px then jumps to 50px */
.m0, .margin-0 {
    margin: 0px;
}

.m5, .margin-5 {
    margin: 5px;
}

.m10, .margin-10 {
    margin: 10px;
}

.m15, .margin-15 {
    margin: 15px;
}

.m20, .margin-20 {
    margin: 20px;
}

.m25, .margin-25 {
    margin: 25px;
}

.m30, .margin-30 {
    margin: 30px;
}

.m35, .margin-35 {
    margin: 35px;
}

.m40, .margin-40 {
    margin: 40px;
}

.m45, .margin-45 {
    margin: 45px;
}

.m50, .margin-50 {
    margin: 50px;
}

.m100, .margin-100 {
    margin: 100px;
}

.m150, .margin-150 {
    margin: 150px;
}

.m200, .margin-200 {
    margin: 200px;
}

.m250, .margin-250 {
    margin: 250px;
}

/* Global Padding */
.p0, .padding-0 {
    padding: 0px;
}

.p5, .padding-5 {
    padding: 5px;
}

.p10, .padding-10 {
    padding: 10px;
}

.p15, .padding-15 {
    padding: 15px;
}

.p20, .padding-20 {
    padding: 20px;
}

.p25, .padding-25 {
    padding: 25px;
}

.p30, .padding-30 {
    padding: 30px;
}

.p35, .padding-35 {
    padding: 35px;
}

.p40, .padding-40 {
    padding: 40px;
}

.p45, .padding-45 {
    padding: 45px;
}

.p50, .padding-50 {
    padding: 50px;
}

.p100, .padding-100 {
    padding: 100px;
}

.p150, .padding-150 {
    padding: 150px;
}

.p200, .padding-200 {
    padding: 200px;
}

.p250, .padding-250 {
    padding: 250px;
}

/* Specific Margins */

/* Margin Top - mt# or margin-top-# */
/* These should override the global margins so you can use m50 mt5 or margin-50 margin-top-5, yeah i got bored and just went up in 10s */
.mt0, .margin-top-0 {
    margin-top: 0px;
}

.mt5, .margin-top-5 {
    margin-top: 5px;
}

.mt10, .margin-top-10 {
    margin-top: 10px;
}

.mt20, .margin-top-20 {
    margin-top: 20px;
}

.mt30, .margin-top-30 {
    margin-top: 30px;
}

.mt40, .margin-top-40 {
    margin-top: 40px;
}

.mt50, .margin-top-50 {
    margin-top: 50px;
}

.mt100, .margin-top-100 {
    margin-top: 100px;
}

.mt150, .margin-top-150 {
    margin-top: 150px;
}

.mt200, .margin-top-200 {
    margin-top: 200px;
}

.mt250, .margin-top-250 {
    margin-top: 250px;
}

/* Margin Bottom - mb# or margin-bottom-# */
.mb0, .margin-bottom-0 {
    margin-bottom: 0px;
}

.mb5, .margin-bottom-5 {
    margin-bottom: 5px;
}

.mb10, .margin-bottom-10 {
    margin-bottom: 10px;
}

.mb20, .margin-bottom-20 {
    margin-bottom: 20px;
}

.mb30, .margin-bottom-30 {
    margin-bottom: 30px;
}

.mb40, .margin-bottom-40 {
    margin-bottom: 40px;
}

.mb50, .margin-bottom-50 {
    margin-bottom: 50px;
}

.mb100, .margin-bottom-100 {
    margin-bottom: 100px;
}

.mb150, .margin-bottom-150 {
    margin-bottom: 150px;
}

.mb200, .margin-bottom-200 {
    margin-bottom: 200px;
}

.mb250, .margin-bottom-250 {
    margin-bottom: 250px;
}

/* Margin Left - ml# or margin-left-# */
.ml0, .margin-left-0 {
    margin-left: 0px;
}

.ml5, .margin-left-5 {
    margin-left: 5px;
}

.ml10, .margin-left-10 {
    margin-left: 10px;
}

.ml20, .margin-left-20 {
    margin-left: 20px;
}

.ml30, .margin-left-30 {
    margin-left: 30px;
}

.ml40, .margin-left-40 {
    margin-left: 40px;
}

.ml50, .margin-left-50 {
    margin-left: 50px;
}

.ml100, .margin-left-100 {
    margin-left: 100px;
}

.ml150, .margin-left-150 {
    margin-left: 150px;
}

.ml200, .margin-left-200 {
    margin-left: 200px;
}

.ml250, .margin-left-250 {
    margin-left: 250px;
}

/* Margin Right - mr# or margin-right-# */
.mr0, .margin-right-0 {
    margin-right: 0px;
}

.mr5, .margin-right-5 {
    margin-right: 5px;
}

.mr10, .margin-right-10 {
    margin-right: 10px;
}

.mr20, .margin-right-20 {
    margin-right: 20px;
}

.mr30, .margin-right-30 {
    margin-right: 30px;
}

.mr40, .margin-right-40 {
    margin-right: 40px;
}

.mr50, .margin-right-50 {
    margin-right: 50px;
}

.mr100, .margin-right-100 {
    margin-right: 100px;
}

.mr150, .margin-right-150 {
    margin-right: 150px;
}

.mr200, .margin-right-200 {
    margin-right: 200px;
}

.mr250, .margin-right-250 {
    margin-right: 250px;
}

/* Specific Padding */
/* Top Padding - pt# or padding-top-# */
.pt0, .padding-top-0 {
    padding-top: 0px;
}

.pt5, .padding-top-5 {
    padding-top: 5px;
}

.pt10, .padding-top-10 {
    padding-top: 10px;
}

.pt20, .padding-top-20 {
    padding-top: 20px;
}

.pt30, .padding-top-30 {
    padding-top: 30px;
}

.pt40, .padding-top-40 {
    padding-top: 40px;
}

.pt50, .padding-top-50 {
    padding-top: 50px;
}

.pt100, .padding-top-100 {
    padding-top: 100px;
}

.pt150, .padding-top-150 {
    padding-top: 150px;
}

.pt200, .padding-top-200 {
    padding-top: 200px;
}

.pt250, .padding-top-250 {
    padding-top: 250px;
}

.pb0, .padding-bottom-0 {
    padding-bottom: 0px;
}

.pb5, .padding-bottom-5 {
    padding-bottom: 5px;
}

.pb10, .padding-bottom-10 {
    padding-bottom: 10px;
}

.pb20, .padding-bottom-20 {
    padding-bottom: 20px;
}

.pb30, .padding-bottom-30 {
    padding-bottom: 30px;
}

.pb40, .padding-bottom-40 {
    padding-bottom: 40px;
}

.pb50, .padding-bottom-50 {
    padding-bottom: 50px;
}

.pb100, .padding-bottom-100 {
    padding-bottom: 100px;
}

.pb150, .padding-bottom-150 {
    padding-bottom: 150px;
}

.pb200, .padding-bottom-200 {
    padding-bottom: 200px;
}

.pb250, .padding-bottom-250 {
    padding-bottom: 250px;
}

.pr0, .padding-right-0 {
    padding-right: 0px;
}

.pr5, .padding-right-5 {
    padding-right: 5px;
}

.pr10, .padding-right-10 {
    padding-right: 10px;
}

.pr20, .padding-right-20 {
    padding-right: 20px;
}

.pr30, .padding-right-30 {
    padding-right: 30px;
}

.pr40, .padding-right-40 {
    padding-right: 40px;
}

.pr50, .padding-right-50 {
    padding-right: 50px;
}

.pr100, .padding-right-100 {
    padding-right: 100px;
}

.pr150, .padding-right-150 {
    padding-right: 150px;
}

.pr200, .padding-right-200 {
    padding-right: 200px;
}

.pr250, .padding-right-250 {
    padding-right: 250px;
}

.pl0, .padding-left-0 {
    padding-left: 0px;
}

.pl5, .padding-left-5 {
    padding-left: 5px;
}

.pl10, .padding-left-10 {
    padding-left: 10px;
}

.pl20, .padding-left-20 {
    padding-left: 20px;
}

.pl30, .padding-left-30 {
    padding-left: 30px;
}

.pl40, .padding-left-40 {
    padding-left: 40px;
}

.pl50, .padding-left-50 {
    padding-left: 50px;
}

.pl100, .padding-left-100 {
    padding-left: 100px;
}

.pl150, .padding-left-150 {
    padding-left: 150px;
}

.pl200, .padding-left-200 {
    padding-left: 200px;
}

.pl250, .padding-left-250 {
    padding-left: 250px;
}


/*.loading-mask {*/
/*    position: relative;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.loading-mask::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    z-index: 100;*/
/*}*/

/*.loading-mask::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    border-width: 3px;*/
/*    border-style: solid;*/
/*    border-color: transparent rgb(183, 183, 4) rgb(183, 183, 4);*/
/*    border-radius: 50%;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    top: calc(50% - 12px);*/
/*    left: calc(50% - 12px);*/
/*    animation: 2s linear 0s normal none infinite running spin;*/
/*    z-index: 100;*/
/*}*/